<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        <title>Majordome</title>
    {% endblock %}
    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% endblock %}
</head>

<body>
    <div class="container content">
        <div class="col-12">
            {% block content %}
                <h1><a class="link-unstyled" href="{{ path('index') }}">Majordome</a></h1>
                <hr>
            {% endblock %}
        </div>

        <div class="push"></div>
    </div>

    <footer class="bg-dark text-lg-start">
        <div class="text-white p-3">
            Built with <i class="em em-heart"></i>
        </div>
    </footer>

    {% block javascripts %}{% endblock %}
</body>

</html>
